<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <!-- <img src="/imgs/Logo.png" alt="Scanzu Logo" class="img-fluid"> -->
      <h3 class="brand-text font-weight-bold text-center" style="color: white;">Web2Export</h3>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" id="myDIV" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <!-- <li class="nav-item menu-open">
            <ul class="nav nav-treeview"> -->
              <li class="nav-item">
                <a href="/admin/dashboard" data-menu-name="dashboard" class="nav-link">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>Dashboard</p>
                </a>
              </li>
            <!-- </ul>
          </li> -->

           <li class="nav-item">
            <a href="/admin/users" data-menu-name="user" class="nav-link">
              <i class="nav-icon fa fa-user" aria-hidden="true"></i>
              <p>
                User
              </p>
            </a>
          </li>
          
             <li class="nav-item">
            <a href="/admin/products" data-menu-name="product" class="nav-link">
              <i class="nav-icon fa fa-plus"></i>
              <p>Product</p>
            </a>
            </li> 


            <li class="nav-item">
              <a href="/admin/enquiry/all" data-menu-name="enquiry" class="nav-link">
                <i class="nav-icon fa fa-question-circle"></i>
                <p>Enquiries</p>
              </a>
              </li> 

            <li class="nav-item">
              <a href="/admin/category/show/create" data-menu-name="category/create" class="nav-link">
                <i class="nav-icon fas fa-plus-circle"></i> <!-- Updated icon -->
                <p>Create category</p>
              </a>
              </li>

            <li class="nav-item">
              <a href="/admin/category/all" data-menu-name="category/all" class="nav-link">
                <i class="nav-icon fas fa-tags"></i> <!-- Updated icon -->
                <p>Categories</p>
              </a>
              </li>

            <li class="nav-item">
              <a href="/admin/lead/create/new" data-menu-name="lead/create/new" class="nav-link">
                <i class="nav-icon fas fa-user-plus"></i> <!-- Updated icon -->
                <p>Add Lead</p>
              </a>
              </li>

            <li class="nav-item">
              <a href="/admin/lead/list" data-menu-name="lead/list" class="nav-link">
                <i class="nav-icon fas fa-address-book"></i> <!-- Updated icon -->
                <p>Leads</p>
              </a>
              </li>

              <li class="nav-item">
                <a href="/admin/subscription/list" data-menu-name="subscription/create" class="nav-link">
                  <i class="nav-icon fas fa-rss"></i> <!-- Updated icon -->
                  <p>Subscriptions</p>
                </a>
                </li>

          <!-- </li>
            <li class="nav-item">
            <a href="/admin/order/list" data-menu-name="order" class="nav-link">
              <i class="nav-icon fa fa-shopping-cart"></i>
              <p>Orders <span class="badge badge-danger mx-2" id="orderCounter"></span></p>
            </a>
          </li> -->

         

            <li class="nav-item">
            <a href="/admin/term-condition" data-menu-name="term" class="nav-link">
              <i class="nav-icon fa fa-clipboard"></i>
              <p>Term & Condition</p>
            </a>
          </li>

            <li class="nav-item expandDiv">
            <a href="/admin/privacy-policy" data-menu-name="privacy" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
              <p>Privacy Policy</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/faq" data-menu-name="faq" class="nav-link">
              <i class="nav-icon fa fa-question-circle"></i>
              <p>FAQ</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/list/testimonials" data-menu-name="testimonial" class="nav-link">
              <i class="nav-icon fa fa-quote-right"></i>
              <p>Testimonial</p>
            </a>
          </li>

 
          <!-- <li class="nav-item">
            <a href="/admin/contact-us" data-menu-name="contact-us" class="nav-link" >
              <i class="nav-icon fa fa-comments"></i>
              <p>Contact Us <span class="badge badge-danger mx-2" id="contactUsCounter"></span></p>
            </a>
          </li> -->

          <li class="nav-item">
            <a href="/admin/about/list" data-menu-name="about" class="nav-link">
              <i class="nav-icon fa fa-info-circle"></i>
              <p>About Us</p>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a href="/admin/feedbacks" data-menu-name="feedbacks" class="nav-link">
              <i class="nav-icon fa fa-rss"></i>
              <p>Review & Feedback</p>
            </a>
          </li> -->

          <li class="nav-item">
            <a href="/admin/coupon/all" data-menu-name="coupon" class="nav-link">
              <i class="nav-icon fa fa-tags"></i>
              <p>
                Coupons
              </p>
            </a>
          </li>

          <!-- <li class="nav-item">
            <a href="/admin/transaction" data-menu-name="transaction" class="nav-link">
              <i class="nav-icon fa fa-credit-card"></i>
              <p>
                Transactions
              </p>
            </a>
          </li> -->

          <li class="nav-item">
            <a href="/admin/reset/password" data-menu-name="reset" class="nav-link">
              <i class="nav-icon fa fa-lock"></i>
              <p>
                Change Password
              </p>
            </a>
          </li>

            <li class="nav-item">
            <a href="/admin/logout" class="nav-link">
              <i class="nav-icon fa fa-sign-out"></i>
              <p>
                Logout
              </p>
            </a>
          </li> 

       
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>