.forget_password_container{
  
  .form-card {
    background: #fff;
    border-radius: 8px;
    width: 100%;
    max-width: 480px;
  }
  
  .logo {
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  
  /* Input Field */
  input {
    border-radius: 6px;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #007bff;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.3);
  }
  
  /* Button */
  button {
    background-color: #007bff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    padding: 10px;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Link */
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
}